.logintext{
  
   margin-bottom: 20px;
   font-family: 'Noto Sans TC', sans-serif;
}
.bgc{
    background-image: url(../images/students.jpg);
    height: -webkit-fill-available;
}

.logindiv{
    width: 600px !important;
}
.btn-primary{
    background-color: black !important;
    border-color:black;
}
.entertext{
    
}